<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Rodrigo Escudero y Patricia Sánchez. Disponible en<a href="https://github.com/RodrigoEscudero/quiz_2017">repositorioRodrigo</a> y <a href="https://github.com/patri-sm/quiz_2017">repositorioPatricia</a>
</p>

<img src="/images/alumno.jpg" />
<img src="/images/patricia.jpg" width="384" height="640" />