<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por <a href="https://github.com/RodrigoEscudero/quiz_2017">Rodrigo Escudero</a> y <a href="https://github.com/patri-sm/quiz_2017">Patricia Sánchez</a>.
</p>

<img id="imgCredits" src="/images/alumno.jpg"/>
<img id="imgCredits" src="/images/patricia.jpg"/>
