<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por <a href="https://github.com/RodrigoEscudero/quiz_2017">Rodrigo Escudero</a> y <a href="https://github.com/patri-sm/quiz_2017">Patricia Sánchez</a>.
</p>

<img src="/images/alumno.jpg" width="600" height="640" />
<img src="/images/patricia.jpg" width="384" height="640" />
